<div class="container">
	<div class="row">
		<div class="jumbotron col-md-offset-3 col-md-6">
			<h2 style="text-align:center;">-- Log in --</h2>
			<hr/>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="field input-group">
				<%= f.label :email, class: "input-group-addon" %>
				<%= f.email_field :email, autofocus: true, class: "form-control" %>
			  </div>
			  <div class="field input-group">
				<%= f.label :password, class: "input-group-addon" %>
				<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
			  </div>
			  <% if devise_mapping.rememberable? -%>
				<div class="field">
				  <%= f.check_box :remember_me %>
				  <%= f.label :remember_me %>
				</div>
			  <% end -%>
			  <hr/>
			  <div class="actions">
				<%= f.submit "Log in", class: "btn btn-success btn-block", style: "color:white;" %>
			  </div>
			<% end %>
			<hr/>
			<%= render "devise/shared/links" %>
			</div>
	</div>
</div>